body {
  padding: 50px 0 0 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.left, .right {
  display: inline-block;
  float: left;
}

.right {
  margin-left: 20px;
}

.left {
  width: 200px;
}

.right {
  width: calc(100% - 300px);
}