<!DOCTYPE html>
<html>
  <head>
    <title>NPM Package Browser</title>
  </head>
  <body>
    <div class="header">
      <div class="logo">NPM Packages Browser</div>
    </div>
    <div id="out"></div>
    <script src="/dist/index.js"></script>
  </body>
</html>
